* {
    margin: 0;
    padding: 0;
}

span, h1, h2, h3, p, button {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: none;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 1.8rem;
}

#ig_icon{
    opacity: 0.8;
    cursor: pointer;
}

#ig_icon:hover{
    opacity: 1;
}

.video-container {
    background-color: black;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#video {
    width: auto;
    height: auto;
    opacity: 0.5;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

#videoMobile {
    width: auto;
    height: auto;
    opacity: 0.5;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: none;
}
  

.video-overlay-container {
    position: absolute;
    top: 1px;
    color: #f1f1f1;
    height: 90%;
    padding: 20px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 20px;
    width: 90%;
  }

.video-overlay-container h1{
    font-size: 6rem;
}


.video-overlay-container h2{
    font-size: 3rem;
}

.video-overlay-container button {
    border-radius: 20px 0px 20px 0px;
    width: 25%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #92cd4d;
    margin-top: 200px;
    font-weight: bold;
}

.video-overlay-container button:hover{
    background-color: #5d8231;
}


#logo {
    width: 30px;
    height: 30px;
    background-color: #92cd4d;
    border-radius: 15px 0px 15px 0px;
    margin-right: 10px;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-projetos {
    background-color: #33477d;
}

.docker-projetos {
    display:flex;
    flex-direction: row; 
    justify-content: space-around;
}

.container-projeto {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    height: 58vh;
}

.container-projeto span {
    margin-top: 25px;
    font-size: 1.3rem;
    color: #ffffff;
    text-align: justify;
}

.section-projetos h1 {
    color: #ffffff;
}

.section-projetos h2 {
    color: #ffffff;
    font-size: 2rem;
}

.container-projeto img {
    width: 30vw;
}

.section-ajuda {
    background-color: #e6e6e6;
}

.section-ajuda h1 {
    margin-top: 5vh;
}

.docker-ajuda {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container-ajuda {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e6e6;
    width: 100%;
}

.container-ajuda div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-ajuda img{
    width: 25vw;
}

.container-ajuda span {
    font-size: 1.4rem;
    width: 40%;
    text-align: center;
}

.container-ajuda h2{
    font-size: 2rem;
}

.container-ajuda button {
    border-radius: 30px 0px 30px 0px;
    width: 10vw;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #33477d;
}

.container-ajuda button:hover{
    background-color: #253359;
}

.section-missao {
    background-color: #e6e6e6;
}   

.docker-missao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.container-missao {
    width: 35%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-missao h2{
    font-size: 2rem;
}

.container-missao span{
    margin-top: 20px;
    font-size: 1.1rem;
}

.section-missao img {
    width: 100%;
}

.section-contato {
    background-color: #000000;
    color: #FFFFFF;
}

.docker-contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container-contato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-contato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
}

.content-contato iframe{
    width: 100%;
}

.container-contato img{
    width: 100px;
    margin-left: -30px;
}

.container-contato img:hover{
    width: 100px;
    margin-left: -30px;
    cursor: pointer;
}

.grid-contato{
    display: flex;
    flex-direction: column;
    gap: 7vh;
    justify-content: center;
}

.grid-contato img {
    height: 24vh;
}



@media only screen and (orientation: portrait){

    #videoMobile {
        display: block;
    }

    #video {
        display: none;
    }

    .video-overlay-container {
        position: absolute;
        top: 1px;
        color: #f1f1f1;
        padding: 20px 0px 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

    .video-overlay-container h1{
        font-size: 2.5rem;
    }
    
    
    .video-overlay-container h2{
        font-size: 1.3rem;
        margin-top: 10px;
    }

    .video-overlay-container button {
        border-radius: 20px 0px 20px 0px;
        width: 40%;
        padding: 10px;
        cursor: pointer;
        font-size: 1.1rem;
        color: #ffffff;
        background-color: #92cd4d;
        margin-top: 30%;
        font-weight: bold;
    }

    .frase{
        margin-top: 60%;
    }

    .section-projetos h1 {
        color: #ffffff;
        font-size: 2rem;
        margin-top: 20px;
    }

    .docker-projetos {
        display:flex;
        flex-direction: column; 
        justify-content: space-around;
    }

    .container-projeto {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        height: 40vh;
        margin-left: 10vw;
    }

    .container-projeto span {
        font-size: 0.8rem;
        color: #ffffff;
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .container-ajuda h2{
        font-size: 1.2rem;
        text-align: left;

    }

    section {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:start;
    }

    .container-projeto img {
        width: 70vw;
        max-height: 30vh;
        margin-top: 10vh;
    }

    .docker-ajuda {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-ajuda {
        background-color: #e6e6e6;
        justify-content: space-evenly;
    }

    .container-ajuda {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: #e6e6e6;
        margin-left: 0px;
        width: 100%;
    }

    .container-ajuda img{
        width: 50vw;
    }

    .container-ajuda span {
        font-size: 0.8rem;
        width: 90%;
        text-align: justify;
        margin: 20px;
    }

    .container-ajuda div h2 {
        text-align: center;
    }
    .container-ajuda div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .docker-missao {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
    
    .container-missao {
        width: 85%;
        margin-left: 30px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .container-missao h2 {
        font-size: 2.8rem;
    }

    .container-missao span {
        font-size: 1rem;
    }

    .docker-contato {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: 100%;
    }
    
    .container-contato {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    
    .content-contato {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-top: 2.5vh;
    }

    .content-contato h3{
        font-size: 1rem;
        margin-left: 20px;
    }

    .container-contato h1{
        font-size: 2rem;
        margin-left: 20px;
        margin-top: 20px;
    }

    .content-contato iframe{
        margin-left: 5vw;
        width: 90vw;
    }

    .container-contato img{
        width: 100px;
        margin-left: -13px;
    }

    .section-ajuda h1{
        background-color: #e6e6e6;
        font-size: 2rem;
        margin-top: 3vh;
    }

    .container-ajuda button {
        border-radius: 30px 0px 30px 0px;
        width: 30vw;
        padding: 10px;
        cursor: pointer;
        font-size: 0.8rem;
        color: #ffffff;
        background-color: #33477d;
    }

   .grid-contato{
        display: none;
    } 
}

